.info-charts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100vw;
    padding-bottom: 10%;
}
  
.info-row {
    display: flex;
    width: 50%;
}
  
.info-map {
    width: 50%;
}
  
.info-pie {
    width: 50%;
}
  
.info-legend {
    width: 50%;
}

#cropBarTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

@media (max-width: 1350px) {
    #cropBarTitle {
        font-size: 18px;
        margin-bottom: -10vh;
    }
}

@media (max-width: 1000px) {
    #cropBarTitle {
        font-size: 14px;
        margin-bottom: -20vh;
    }
}

@media (max-width: 730px) {
    #cropBarTitle {
        font-size: 12px;
        margin-bottom: -20vh;
    }
}

@media (max-width: 550px) {
    .info-row {
        width: 80%;
    }

    .map-image {
        margin-top: 30%;
        margin-left: 20%;
        height: 60%;
    }
}

@media (max-width: 400px){
    #cropBarTitle {
        font-size: 10px;
        margin-bottom: -30vh;
    }

    .map-image {
        margin-top: 50%;
        margin-left: 20%;
        height: 50%;
    }
}

@media (max-width: 300px) {
    .map-image {
        margin-top: 80%;
        margin-left: 20%;
        height: 40%;
    }
}