.info-charts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10%;
}
  
.info-row {
    display: flex;
    width: 50%;
}
  
.info-map {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.info-pie {
    width: 50%;
}
  
.info-legend {
    width: 50%;
}

#cropBarTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    padding-bottom: 5vh;
}

@media (max-width: 1350px) {
    #cropBarTitle {
        font-size: 18px;
    }
}

@media (max-width: 1000px) {
    #cropBarTitle {
        font-size: 14px;
    }

    .map-image {
        height: 75%;
    }
}

@media (max-width: 730px) {
    #cropBarTitle {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    .info-row {
        width: 80%;
    }

    .map-image {
        height: 60%;
    }
}

@media (max-width: 400px){
    #cropBarTitle {
        font-size: 10px;
    }

    .map-image {
        height: 50%;
    }
}

@media (max-width: 300px) {
    .map-image {
        height: 40%;
    }
}