.team-page {
    background-color: #EFEFF4FF;
    font-family: 'Public Sans', sans-serif;
}

.team-profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width:100%;
    padding: 3%;
}
  
.profile {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    margin-bottom: 5%;

}
  
.profile p{
    inline-size: 50%;
    width:30vh;
    overflow-wrap: break-word;
    hyphens: manual;
}

.profile-img {
    border-radius: 10px 10px 0px 0px;
    width: 33vh;
    height: 33vh;
}
  
.profile-name {
    font-weight: 800;
    padding: 10px 10px;
    z-index: 2;
}

#git_link{
    display: flex;
    padding: 50px;
    justify-content: center;
}

li, a, p {
  font-weight: 400;
}

a:visited {
    color: #0400fb;
    text-decoration: none;
}