.dual-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-a { order: 1; padding-bottom: 5px;}
#vis-a { order: 2; }
#button-b { order: 3; padding-bottom: 5px;}
#vis-b { order:  4; }

.vis-buttons-parent {
    display: flex;
    justify-content: center;
    font-size: large;
    background-color: #f2f5f8;
}
  
.vis-buttons-child {
   flex:1;
}
  
.vis-buttons-label {
    padding:10px;
    text-align: center;
    font-size: 20px;
    background-color: #f2f5f8;
}

.vis-page {
    background-color: #ffffff;
}

.inline-parent {
    border-top: 1px solid black;
    text-align: center;
    height: 80vh;
}

.flex-child-1 {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  .flex-child-2 {
    display: flex;
    justify-content: center;
    flex: 1;
  }

@media screen and (max-width: 1200px) and (min-height:800px) {
    .vis-buttons-label {
        font-size: 12px;
    }

    .inline-parent {
        border-top: 1px solid black;
        text-align: center;
        height: auto;
        width:auto;
    }

    .dual-display{
        text-align: center;
        height: auto;
        width:auto;
    }
}

@media screen and (max-width: 600px) and (max-height: 1000px)  {
    .vis-buttons-label {
        font-size: 8px;
    }

    .inline-parent {
        border-top: 1px solid black;
        text-align: center;
        height: auto;
        width:auto;
    }

    .dual-display{
        text-align: center;
        height: auto;
        width:auto;
    }
}