#legend-values {
    display: flex;
    justify-content: center;
}
  
.legend-circle {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-top: 8px;
    border: 1px solid #000000;
}
  
.legend-value {
    font-size: smaller;
    padding: 10px;
}
  
#three-color-first {
    background-color: #003F72;
}
  
#three-color-second {
    background-color: #00728C;
}
  
#three-color-third {
    background-color: #00A498;
}
  
#five-color-first {
    background-color: #002360;
}
  
#five-color-second {
    background-color: #006083;
}
  
#five-color-third {
    background-color: #009B9C;
}
  
#five-color-fourth {
    background-color: #02B488;
}
  
#five-color-fifth {
    background-color: #7ADE7F;
}

@media (max-width: 1000px) {
    .legend-circle {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        margin-top: 9px;
    }
    
    #vis-legend {
        font-size: small;
    }
}

@media (max-width: 500px) {
    .legend-circle {
        width: 8px;
        height: 8px;
        border-radius: 8px;
        margin-top: 3px;
    }
      
    .legend-value {
        padding: 5px;
    }

    #vis-legend {
        font-size: xx-small;
    }
}
