.about-page {
    background-color: #EFEFF4FF;
    font-family: 'Public Sans', sans-serif;
}

.team-profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 3%;
}

.dev-profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /* background-color: white; */
    padding: 3%;
}
  
.profile {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    margin-bottom: 5%;
}
  
.profile-img {
    border-radius: 10px 10px 0px 0px;
    width: 33vh;
    height: 33vh;
}
  
.profile-name {
    font-weight: 800;
    padding: 10px 10px;
}

li, a, p {
  font-weight: 400;
}

a:visited {
    color: #0400fb;
    text-decoration: none;
}