@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* #outerContainer {
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height:80%;
  width:100%;
  position: relative;
} */


#heading {
  background-color: #00000017;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  width:100%;
  z-index: 5;
}

#logo {
  height: 20px;
  padding: 15px;
  position: fixed;
  display:none;
}

#visTop {
  padding-top: 75px;
  padding-bottom: 15px;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: large;
  font-style: italic;
  opacity: 0.7;
  text-align: center;
}

#menu {
  background-color: #13639e;
}

#compare-box{
  padding-bottom: 1vh;
  opacity: 0.7;
}

#home-container{
  display: flex;
  font-weight: 200;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 25vw;
  padding-right: 25vw;
  height:100vh;
}

#home-sub-title{
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  color: rgb(0,0,0);
}

#home-info{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vh;
}

#home-button{
  text-align: center;
  color: #022851;
}

.flex-parent {
  display: flex;
}
.flex-child {
  flex: 1;
}

.font-metropolis{
  font-family: 'Metropolis';
}

.font-newsreader{
  font-family: 'Newsreader';
  font-size: 22px;
}

.font-roboto{
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.rect-home{
  fill:rgb(246, 245, 243);
  stroke-width:1;
  stroke:rgb(0,0,0)
}

.vis-title{
  font-family: 'Metropolis';
  font-weight: 800;
  font-size: 24px;
}

.title-info{
  align-items: flex-end;
}

.visualization-window {
  font-family: 'Metropolis';
  font-size: 24px;
  height: 80%;
  width: 70%;
  /* outline: solid 1px black; */
  margin: auto;
  /* Center child horizontally*/
}

.visualization-window-compare {
  font-family: 'Metropolis';
  font-size: 24px;
  /* outline: solid 1px black; */
  margin: auto;
  /* Center child horizontally*/
}

.vis-buttons-parent {
  display: flex;
  justify-content: center;
  font-size: large;
  background-color: #f2f5f8;
}

.vis-buttons-child {
 flex:1;
}

#vis-buttons-label {
  padding:10px;
  text-align: center;
  font-size: 20px;
  background-color: #f2f5f8;
}

.dual-display{
  display: flex;
}

#dual-display-child{
  flex:1;
}

.inline-parent {
  border-top: 1px solid black;
  text-align: center;
  height: 80vh;
}
.inline-child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.pie-chart {
  padding-top: 10%;
}

/* footer {
  text-align: center;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #022851;
  color: white;
} */

#about-visualization-window {
  font-family: 'Metropolis';
  font-size: 24px;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* Center child horizontally*/
}

#aboutpage {
  background-image: url(./images/farming-background.jfif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#visLandingPage{
  background-image: url(./images/wheat_field2.jpg);
  
  height: 80vh;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

#visLandingHeading{
  text-align: center;
  color: black;
  font-size: 72px;
  margin: 0;
  padding-top: 10%;

}

#visLandingBody{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: black;
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 32px;

}

#visLandingBodyExtended{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 900;
  font-size: 26px;
  text-align: center;

}

#infoSection0{
  margin-top: 50px;
}

#infoSection1{
  height: 100vh;
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#infoSection2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: middle;
}

#infoSection3{
  height: 100vh;
  width: 80vw;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* #menuitem {
  background-color: blanchedalmond;
  color:#FFBF00
} */
#info-charts{
  display: flex;
  justify-content: center;
  width:100vw;
  padding-bottom: 10%;
}
#map-image {
  padding-top: 10%;
  width: 30%;
  height: 60%;
  vertical-align: center;
} 

#info-pie {
  width: 50%;
  height: 100%;
  color: black;
}

#info-legend {
  width: 50%;
  color: black;
}

body,html {
  height: 100%;
}

#bg {
  /*background-image: url(./images/farming-background.jfif);*/
  background-image: url(./images/bg.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.gfg {
  color:white;
  padding-top:5%;
  padding-left:25%;
}

#team-profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  background-color: white;
  padding: 3%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name {
  font-family: 'Roboto', sans-serif;
  padding: 10px 0px;
}

@media screen and (max-width: 1200px) and (min-height:800px) {
  #bg {
    height: 125vh;
  }
  #logo{
    display: none;
  }

  #home-container{
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
  }

  
  #home-sub-title{
    font-size: large;
  }
  
  #home-info{
    font-size: large;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vh;
  }

  .visualization-window {
    font-family: 'Metropolis';
    font-size: 12px;
    height: 80%;
    width: 70%;
    /* outline: solid 1px black; */
    margin: auto;
    /* Center child horizontally*/
  }
  

  #vis-buttons-label {
    font-size: 12px;
  }

  #vis-question-label{
    font-size: 12px;
  }

  #visTop {
    font-size: small;
    font-style: italic;
  }

  .inline-parent {
    border: 1px solid black;
    text-align: center;
    height: auto;
    width:auto;
  }
  .inline-child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  #map-image {
    width: 50%;
    height: 40%;
    padding-top: 25%;
    vertical-align: center;
  } 
}

@media screen and (max-width: 600px) and (max-height: 1000px)  {

  #bg {
    height: 120vh;
  }
  #logo{
    display: none;
  }

  #home-container{
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
  }
  
  #home-sub-title{
    font-size: small;
  }
  
  #home-info{
    font-size: small;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
  }

  #vis-buttons-label {
    font-size: 8px;
  }

  #vis-question-label{
    font-size: 8px;
  }

  .visualization-window {
    font-family: 'Metropolis';
    font-size: 24px;
    height: 60%;
    width: 70%;
    /* outline: solid 1px black; */
    margin: auto;
    /* Center child horizontally*/
  }

  #visTop {
    font-size: small;
    font-style: italic;
  }

  .inline-parent {
    border: 1px solid black;
    text-align: center;
    height: auto;
    width:auto;
  }
  .inline-child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  #map-image {
    width: 50%;
    height: 40%;
    padding-top: 25%;
    vertical-align: center;
  } 

}

@media screen and (max-height:800px) and (min-width: 600px) {

  #logo{
    display: none;
  }

  #home-container{
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
  }
  
  #vis-question-label{
    font-size: 12px;
  }

  #visTop {
    font-size: small;
    font-style: italic;
  }

  #home-sub-title{
    font-size: medium;
  }
  
  #home-info{
    font-size: medium;
    padding-bottom: 10vh;
  }

  #map-image {
    width: 50%;
    height: 40%;
    padding-top: 10%;
    vertical-align: center;
  } 
  
}
