@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

#outerContainer {
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height:80%;
  width:100%;
  position: relative;
}

#heading {
  background-color: #022851;
  display: flex;
  position: fixed;
  width:100%;
}

#heading-static {
  background-color: #022851;
  display: flex;
}

#logo {
  height: 20px;
  padding: 15px;
  padding-right: 22%;
}

#visTop {
  padding-top: 75px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: large;
  font-weight: bold;
}

#sidebar {
  position: fixed;
  right: 0;
  top: 40%;
}

#sidebar-container {
  color: white;
}

#menu {
  background-color: #13639e;
}

#aboutsummary {
  color:black;
  /* display:flex; */
  padding-right: 50%;
  padding-top: 10px;
  padding-left: 10px;
}

#visualization {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 200px;
  /* outline: dashed 1px black; */
  /* Center child horizontally*/
  display: flex;
  justify-content: center;

}

#compare-box{
  padding-left: 15px;
}

#infosummary {
  color:black;
  padding-right: 50%;
  padding-top: 10px;
  padding-left: 10px;
}

#about-container{
  height:50%;
}

#home-container{
  font-family: 'Montserrat', sans-serif;
  display: block;
  text-align: left;
  padding-left: 25%;
  padding-right: 25%;
}

#main-title{
  padding-top: 30%;
  padding-left: 10%;
  font-weight: 100;
  font-size: large;
  color: rgb(88, 88, 88);
}

#home-sub-title{
  padding-left: 10%;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(0,0,0);
}

#home-info{
  font-size: small;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10%;
}

#home-button{
  padding-bottom: 30%;
  text-align: center;
  color: #022851;
}

.flex-parent {
  display: flex;
}
.flex-child {
  flex: 1;
}

.font-metropolis{
  font-family: 'Metropolis';
}

.font-newsreader{
  font-family: 'Newsreader';
  font-size: 18px;
}

.rect-home{
  fill:rgb(246, 245, 243);
  stroke-width:1;
  stroke:rgb(0,0,0)
}

.vis-title{
  font-family: 'Metropolis';
  font-weight: 800;
  font-size: 24px;
}

.title-info{
  align-items: flex-end;
}

.visualization-window {
  font-family: 'Metropolis';
  font-size: 24px;
  height: 70%;
  width: 70%;
  /* outline: solid 1px black; */
  margin: auto;
  /* Center child horizontally*/
}

.inline-parent {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  height: 100%;
}
.inline-child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

footer {
  text-align: center;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #022851;
  color: white;
}

#about-visualization-window {
  font-family: 'Metropolis';
  font-size: 24px;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* Center child horizontally*/
}

#aboutpage {
  background-image: url(./images/farming-background.jfif);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* #menuitem {
  background-color: blanchedalmond;
  color:#FFBF00
} */

body,html {
  height: 100%;
}

#bg {
  /*background-image: url(./images/farming-background.jfif);*/
  background-image: url(./images/bg.jpeg);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

.gfg {
  color:white;
  padding-top:5%;
  padding-left:25%;
}